/* 
INITIAL STYLES
*/

html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

/* 
PAGE STYLES 
*/

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
ul {
    list-style: none;
}
.topbar {
    width: 100%;
    height: 8rem;
    font-size: 2rem;
    background-color: rgb(173, 173, 173);
    align-items: center;
}
.items {
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.items > li {
    border: solid black 2px;
    border-top: 0;
    border-bottom: 0;
    padding: 0 40px 0 40px;
}
.new-ideas {
    width: 40%;
}
.descriptor {
    font-size: 2rem;
    padding-left: 4rem;
}
.idea-list > li {
    padding-top: 2rem;
}
.profiles {
    width: 60%;
}
.profiles > div {
    padding: 4rem;
}
.top-ideas {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
.top-ideas > a {
    padding: 2rem;
}
.main {
    display: flex;
    font-size: 3rem;
    justify-content: center;
}
h3 {
    font-size: 4rem;
}
.popular {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}
.popular > section {
    display: flex;
    height: 40rem;
    flex-direction: column;
    width: 20%;
    padding: 10rem;
    border: double black 5px
}